
/*
  Resets
  http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}

/*
* Blog css
* 2012-05-16
* Rafael Felix
*/

@font-face {font-family: "SketchRockwell Bold";src: url("SketchRockwell-Bold.ttf");}

body{background: url(bg.jpg); height: 100%; font-family: Times, Arial, sans-serif;}

header#blog-title{font-family: "SketchRockwell Bold", Arial, sans-serif; padding: 15px 15px 75px;}
header#blog-title h1.title{font-size: 80px;}
header#blog-title a{text-decoration: none;color: #000;}
header#blog-title p.subtitle{font-size: 25px;}

section#blog-content{min-height: 100%;height: auto !important;height: 100%;margin: 0 auto 60px auto;width: 700px;}
section#blog-content ul.posts{margin-bottom:120px;}
section#blog-content ul.posts li, article#post{padding: 8px 35px 8px 14px;margin-bottom: 18px;text-shadow: 0 1px 0 rgba(255,255,255,.5);border: 1px solid #BEBEBE;background-color: #E8E8E8;border-radius: 4px;}
section#blog-content h2.post-title{font-size: 32px;}
section#blog-content h2.post-title a{color: #B22222;text-decoration: none;}
section#blog-content span.post-date{font-size: 14px;float: right;margin-top: 15px;}
section#blog-content p.post-summary{font-size: 18px;}
section#blog-content p.post-read-more{text-align: right;}
section#blog-content p a{color: #B22222;text-decoration:none;}
section#blog-content p a:hover{text-decoration:underline;}

article#post{min-height: 300px;margin-bottom:120px;}
article#post header h2{font-size: 48px;color: #B22222;}
article#post header p{text-align: right;font-size: 20px;text-decoration: underline;}
section#post-content, section#post-content p{font-size: 18px;padding-top: 10px;line-height: 1.5em;}

footer#blog-footer{background: url(footer-bg.jpg) repeat-x;position:fixed;left:0px;bottom:0px;height:4em;width:100%;font-size: 1.3em;}
footer#blog-footer ul{padding-top: 30px;padding-left: 35px;}
footer#blog-footer ul li{display: inline;padding-left: 20px;}
footer#blog-footer a{color: #FFF;text-decoration:none;}
