
/*
  Resets
  http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}

/*
* Blog css
* 2012-05-16
* Rafael Felix
*/

@font-face {font-family: "SketchRockwell Bold";src: url("SketchRockwell-Bold.ttf");}

body{background: url(bg.jpg); height: 100%; font-family: Times, Arial, sans-serif;}

section#page{ width:960px; margin:0 auto;}

header#blog-title{font-family: "SketchRockwell Bold", Arial, sans-serif; padding: 15px 15px 75px;}
header#blog-title h1.title{font-size: 80px;}
header#blog-title a{text-decoration: none;color: #000;}
header#blog-title p.subtitle{font-size: 25px;}

section#blog-content{min-height: 100%;height: auto !important;height: 100%;margin: 0 auto 60px 60px;width:650px;}
section#blog-content ul.posts{margin-bottom:120px;width:100%}
section#blog-content ul.posts li, article#post{padding: 8px 14px;margin-bottom: 18px;text-shadow: 0 1px 0 rgba(255,255,255,.5);border: 1px solid #BEBEBE;background-color: #E8E8E8;border-radius: 4px;}
section#blog-content h2.post-title{font-size: 32px;}
section#blog-content h2.post-title a{color: #B22222;text-decoration: none;}
section#blog-content span.post-date{font-size: 14px;float: right;margin-top: 15px;}
section#blog-content p.post-summary{font-size: 18px;}
section#blog-content p.post-read-more{text-align: right;}
section#blog-content p a{color: #B22222;text-decoration:none;}
section#blog-content p a:hover{text-decoration:underline;}

article#post{min-height: 300px;margin-bottom:120px;}
article#post header h2{font-size: 48px;color: #B22222;}
article#post header p{text-align: right;font-size: 20px;text-decoration: underline;}
section#post-content, section#post-content p{font-size: 18px;padding-top: 10px;line-height: 1.5em;}

section#about{width: 200px;position:fixed;top:0;right:0;margin-top:195px;}
section#about div#img-container{ padding-left:35px; }
section#about img{ border-radius:4px;}
section#about p.name { padding-top: 10px; padding-bottom: 10px; font-family: "SketchRockwell Bold", Arial, sans-serif;font-size: 22px;}
section#about ul li{ display: inline-block; width: 32px; height: 32px;}
