
/*
  Resets
  http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}

/*
* Blog css
* 2012-05-16
* Rafael Felix
*/

@font-face {font-family: "SketchRockwell Bold";src: url("SketchRockwell-Bold.ttf");}

body{background: url(bg.jpg); height: 100%; font-family: Verdana, Arial, sans-serif;}

section#page, header#blog-title .header-container{ width:960px; margin:0 auto;}

header#blog-title{font-family: "SketchRockwell Bold", Arial, sans-serif; padding: 15px 15px 75px;height:80px;background: url(footer-bg.jpg);margin-bottom:13px;width:100%;border-bottom: 2px #B22222 solid;}
header#blog-title h1.title{font-size: 80px;}
header#blog-title a{text-decoration: none;color: #fff;}
header#blog-title p.subtitle{font-size: 25px;}
header#blog-title .img-container{ width: 200px; float: left;}
header#blog-title img{ border-radius:4px;}
header#blog-title .author{ width: 700px; float:left;}
header#blog-title .author ul li{ display: inline-block; width: 32px; height: 32px;}

section#blog-content{min-height: 100%;height: auto !important;height: 100%;margin: 0 auto;width:100%;clear:both;}
section#blog-content ul.posts{width:100%}
section#blog-content h2.post-title{font-size: 32px;}
section#blog-content h2.post-title a{color: #B22222;text-decoration: none;}
section#blog-content .post-info{ padding: 10px 0 0; }
section#blog-content .posts p { display: inline-block;padding-top:10px; }
section#blog-content .post-date{ background: url(/img/calendar.png) no-repeat; min-width:32px;min-height:32px;}
section#blog-content .post-date span{ padding-left: 35px;}
section#blog-content .post-read-more{float: right;}
section#blog-content p a{color: #B22222;text-decoration:none;}
section#blog-content p a:hover{text-decoration:underline;}

article#post{min-height: 300px;}
article#post .post-date { margin-top:5px; }
article#post header{ height:85px; }
article#post header h2{font-size: 48px;color: #B22222;}
article#post header p{font-size: 20px;padding: 6px 0 0;}
article#post hr { clear: both; }
section#post-content, section#post-content p{font-size: 18px;padding-top: 10px;line-height: 1.5em;}

.clearfix{ clear: both; }