<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="author" content="Rafael Felix"/>
    <title>Rafael Felix's Blog - {{page.title}}</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css"/>
  </head>
  <body>
    <section id="page">
      <header id="blog-title">
        <a href='/'>
          <h1 class="title">Rafael Felix's blog</h1>
        </a>
        <p class="subtitle">Ruby, Rails, Java, Javascript and more</p>
      </header>
      <section id="blog-content">
          {{ content }}
      </section>
      <section id="about">
        <div id='img-container'>
          <img src='http://www.gravatar.com/avatar/a70aa5d32b9c30f1f9c94d0ae47093ac.png'/>
        </div>
        <p class='name'>Rafael Felix</p>
        <ul>
          <li>
            <a href='http://github.com/fellix' target='_blank'><img src='/img/github.png' alt='fellix on github'/></a>
          </li>
          <li>
            <a href='http://twitter.com/rs_felix' target='_blank'><img src='/img/twitter.png' alt='fellix on twitter'/></a>
          </li>
          <li>
            <a href='http://br.linkedin.com/in/felixrafael' target='_blank'><img src='/img/linkedin.png' alt='Rafael Fleix on Linkedin'/></a>
          </li>
          <li>
            <a href='/atom.xml' target='_blank'><img src='/img/feed.png' alt='blog feed'/></a>
          </li>
        </ul>
      </section>
    </section>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-8426129-5']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <script type="text/javascript">
      var $buoop = {}
      $buoop.ol = window.onload;
      window.onload=function(){
       try {if ($buoop.ol) $buoop.ol();}catch (e) {}
       var e = document.createElement("script");
       e.setAttribute("type", "text/javascript");
       e.setAttribute("src", "http://browser-update.org/update.js");
       document.body.appendChild(e);
      }
    </script>
  </body>
</html>