<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>{{page.title}}</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css"/>
  </head>
  <body>
    <header id="blog-title">
      <a href='/'>
        <h1 class="title">Rafael Felix's blog</h1>
      </a>
      <p class="subtitle">Ruby, Rails, Java, Javascript and more</p>
    </header>
    <section id="blog-content">
        {{ content }}
    </section>
    <footer id="blog-footer">
      <ul>
        <li><a href='/about.html'>Sobre</a></li>
        <li><a href='http://twitter.com/rs_felix' target="_blank">@rs_felix</a></li>
        <li><a href='http://github.com/fellix' target="_blank">GitHub</a></li>
        <li><a href='#'>Feeds</a></li>
      </ul>
    </footer>
  </body>
</html>